/* MASTER STYLES */
body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* NAV BAR STYLES */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.right-side {
    display: flex;
}

.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-right-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid peachpuff;
}

.nav-link-wrapper a:hover {
    color: peachpuff;
}

.nav-wrapper > .left-side > div {
    font-size: 1.2em;
    text-transform: uppercase;
}

.active-nav-link {
    border-bottom: 1px solid peachpuff;
}

.active-nav-link a {
    color: peachpuff !important;
}


/* ABOUT */
.page-title {
    text-align: center;
    color: peachpuff;
}

.page-title h2{
    color: black;
}

.page-title p {
    color: black;
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-column-wrapper > div {
    margin-right: 30px;
}

.profile-image-wrapper img{
    padding: 35px;
    width: 100%;
}

.profile-content-wrapper {
    padding: 35px;
}

.profile-content-wrapper h1{
    color: peachpuff;
}

.profile-content-wrapper h2{
    color: peachpuff;
}

.social-link-wrapper {
    height: 20px;
}

.social-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.social-link-wrapper a:hover {
    color: peachpuff;
}

/* MENU */
.menu-item {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menu-image img{
    padding: 35px;
    width: 75%;
}

.menu-desc {
    padding: 35px;
}


/* BLOG */
.one-blog {
    margin-left: 300px;
    margin-right: 300px;
    color: grey;
}

.blog-img-wrapper img {
    width: 100%;
}

/* Plans*/
.plans {
    float: left;
    width: 30%;
    padding: 10px;
}
